# Editor
.vscode

# Backend
backend/.pytest_cache
backend/**/__pycache__
backend/script
backend/tests
backend/venv

#Frontend
frontend/node_modules
frontend/dist
frontend/auto-imports.d.ts
frontend/components.d.ts