.vscode
.idea/

# Sakura launcher
sakura-launcher/build/

# Script
script/dist/
script/node_modules/

# Server
server/.gradle/
server/.kotlin
server/build/
server/data/

# Web
web/dist/
web/node_modules/
web/auto-imports.d.ts
web/components.d.ts
web/vite.config.ts.timestamp*

# Web extension
web-extension/src/_metadata/