:80 {
  handle {
    root * /frontend/dist
    try_files {path} /
    file_server
  }

  handle_path /api* {
    reverse_proxy server:5000
  }

  handle_path /books* {
    root * /books
    file_server
  }
}

:9181 {
    reverse_proxy dashboard:9181
}