:80 {
  encode gzip

  handle {
    root * /dist
    try_files {path} /
    file_server
  }

  handle_path /api* {
    reverse_proxy server:8081
  }

  handle_path /files-web* {
    root * /data/files-web
    file_server
  }

  handle_path /files-wenku* {
    root * /data/files-wenku
    file_server
  }

  handle_path /files-extra* {
    root * /data/files-extra
    file_server
  }
}