name: publish

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push proxy Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.proxy
          push: true
          tags: ghcr.io/fishhawk/wneg-proxy:latest

      - name: Build and push server Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'Dockerfile.server'
          push: true
          tags: ghcr.io/fishhawk/wneg-server:latest
